@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #7e9edf;
  font-family: "PT Sans", sans-serif;
  margin: 0;
  display: flex;

  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  background-color: rgb(241, 241, 138);
  border: 3px black solid;
  border-radius: 10px;
  padding: 30px;
  max-width: 1000px;
  text-align: center;
}

.code-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.code {
  font-size: 75px;
  border-radius: 5px;
  height: 120px;
  width: 100px;
  border: 1px solid white;
  margin: 1%;
  text-align: center;
  font-weight: 300;
}

.code::-webkit-inner-spin-button,
.code::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.code:valid {
  border-color: violet;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.25);
}

.info {
  background-color: #fff2b8;
  padding: 10px;
  line-height: 20px;
  max-width: 400px;
}

@media (max-width: 600px) {
  .code-container {
    flex-wrap: wrap;
  }
  .code {
    height: 80px;
    max-width: 70px;
    font-size: 60px;
  }
}
